@model WebProducts.Models.Product
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <fieldset>
        <legend>Product Detail</legend>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Category)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.ProductName)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.AvailableDate)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index", "Product")
    </p>
</body>
</html>
