@model IEnumerable<WebProducts.Models.Product>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@Html.RouteLink("Index", "Default")</h2>
    <p>@Html.ActionLink("Create New", "Create", "Product")</p>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.AvailableDate)</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Category, "Index", new { category = item.Category })</td>
                <td>@Html.ActionLink(item.ProductName, "Index", new { productName = item.ProductName })</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.AvailableDate)</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
